<!--{% extends 'MMDA/base.html'%}
{% block title %}Add a New file{% endblock %}-->
{% extends 'DAGR/base.html' %}

{% block content %}

<!--##########################################main part###########################################################-->

  <div class="container">


<!--title-->
<div class="container">
    <div class="page-header">
      <h1>Add File<small></small></h1>
</div>

<!--panel-->
<div class="panel panel-danger">
  <div class="panel-heading"><p>Please select file you want to  add</p></div>
   <div class="panel-body">
     <div class="row">
      <div class="col-lg-6">
   
        <form method="post" id="atrForm" enctype="multipart/form-data"> {% csrf_token %}

          <input type="file" id="files" name="files" multiple="multiple" />
          </form>
      </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
          <p style="text-align: right; margin-top: 20px;">
                 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myMod">upload files</button></p>
  </div>
</div>
</div>
</div>






<div class="col-md-2"></div>
  <div class="col-md-8">
  
   </div>
     <div class="col-md-2"></div>

      <div id="myMod" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">


<!--modal body-->

              <div class="row">
                <div class="col-md-12">

              <div class="panel panel-default">
                <div class="panel-heading">Please input the attribute of this file</div>
                     <div class="panel-body">

                      Annotated Name: <input type ="text" form="atrForm" name="annotated_name"><br>
                    Keywords: <br>
                    <textarea rows="4" cols="50" name="keywords" form="atrForm" placeholder="Seperate Keywords by Semicolon! Ex... key1;key2;key3"></textarea>


<!--modal footer-->
              <div class="modal-footer">
               <input type="submit" class="btn btn-primary" form="atrForm" id="Submit">
              <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>

{% endblock %}