{% extends 'DAGR/base.html' %}

{% block content %}

	<div class="container">
	    <div class="col-md-2"></div>
	    <div class="col-md-8">
	    	<h2>Please select file that you want to add to database</h2><br>
	        <form method="post" enctype="multipart/form-data">
	            <input type="file" id="files" name="files" multiple="multiple" />
	            <p style="text-align: right; margin-top: 20px;">
	               <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myMod">upload files</button>
	            </p>
	        </form>
	    </div>
	    <div class="col-md-2"></div>

      <div id="myMod" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <label><b>Please input the attribute of this file</b></label>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        {% include 'DAGR/form_template.html' %}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-primary" id="Submit">Submit</button>
              <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}