{% extends 'DAGR/base.html' %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading"> <h2>Deleting this DAGR will affect the following DAGRS</h2></div>

    <div class="panel-body">
      <form method="post"> 
        {% csrf_token %}
        <input type="submit" class="btn btn-primary btn-md" style="margin-bottom: 2em" value="Confirm Delete"/> 
      
      </form>
      <div class="list-group" style="margin-left: 2em">
      <table class="table">
      <tr> <th> Name </th> <th> GUID </th> <th> Parent/Child </th></tr>
      {% if parents %}
        {% for dagr in parents %}
          <tr>
            <td>{{ dagr.file_name }} </td> <td> {{ dagr.GUID }}</td>  <td> Parent</td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if children %}
        {% for dagr in children %}
          <tr>
            <td>{{ dagr.file_name }} </td> <td> {{ dagr.GUID }}</td>  <td> Child</td>
          </tr>
        {% endfor %}
      {% endif %}
      </table>
      </div>

    </div>


  </div>

{% endblock %}


