{% extends 'DAGR/base.html' %}

{% block content %}


<div class="container">
  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
          <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModa">Update</button>

  <div id="myModa" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">                 
                    <lable><b>Please select file that you want to replace the original file in database</b></lable>
                    <br>
                    <br>
                    <form method="post" enctype="multipart/form-data">
                      <input type="file" id="files" name="files" multiple="multiple" />
                    </form>
                  </div>
                </div>        
              </div>  
            </div>
        </div>
         <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Submit</button>
          <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>



<!--<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal('show');
});
</script>

<script type="text/javascript">
  $('button[name="remove_levels"]').on('click', function(e) {
  var $form = $(this).closest('form');
  e.preventDefault();
  $('#confirm').modal({
      backdrop: 'static',
      keyboard: false
    })
  .one('click', '#delete', function(e) {
      $form.trigger('submit');
    });
});
</script>-->


{% endblock %}


