{% extends 'DAGR/base.html' %}

{% block content %}

<!--main part-->

<div class="container">
    <div class="page-header">
  <h1>Orphan Report <small></small></h1>
</div>
   
<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>These are the files that you are looking for:</b></div>
                    
                    <table class="table table-striped">
                      <thead class="thead-default">
                        <tr>
                          <th>File Name</th>
                          <th>File GUID</th>
                          <th>File Type</th>
                          <th>Local Path</th>
                          <th>annotated_name</th>
                          <th>Operation</th>
                        </tr>
                 
                      </thead>

                      <tbody>
                       {% for file in all_files %}
                        <tr>
                          <th scope="row"><a href=" {% url 'MMDA:details' File.GUID %} ">{{ File.file_name }}</a>
                          </th>
                          <td>file.GUID</td>
                          <td>file.type</td>
                          <td>file.localpath</td>
                          <td>file.annotated_name</td>
                          <td>

                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>
                        <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                      Are you sure?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                         <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModa">Update</button>

                    <div id="myModa" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                  <div class="row">
                                    <div class="panel panel-default">
                                      <div class="panel-body">                 
                                        <lable><b>Please select file that you want to replace the original file in database</b></lable>
                                        <br>
                                        <br>
                                        <form method="post" enctype="multipart/form-data">
                                          <input type="file" id="files" name="files" multiple="multiple" />
                                        </form>
                                        <div class="form-group">
                                        <br>
                                          <label for="usr">Or</label>
                                          <br>
                                          <label for="usr"> input the website</label>
                                          <input type="text" class="form-control" id="usr">
                                        </div>
                                      </div>
                                    </div>        
                                  </div>  
                                </div>
                            </div>
                             <div class="modal-footer">
                              <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Submit</button>
                              <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>

                      </table>

                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


