{% extends 'MMDA/base.html'%}
{% block title %}Orphan Report{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1><b>Orphan Report</b>></h1>
                    <h2>all the DAGR which has no parent</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>GUID</th>
                            <th>File_name</th>
                            <th>Annotated_Name</th>
                            <th>File_Type</th>
                            <th>File_Size</th>
                            <th>Local Path</th>
                            <th>Keyword</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--after get a set o forpahn set-->
                        {% for file in file.orphan_set.all %}
                            <tr>
                                <td>
                                	<ul>
                                		<li><a href=" {% url 'MMDA:details' File.GUID %} ">{{ File.GUID }}</a>  
											<a href="{% url 'MMDA:file-update' File.GUID %}"><span class="glyphicon glyphicon-edit">Update</a>
											<a href="{% url 'MMDA:file-delete' File.GUID %}"><span class="glyphicon glyphicon-delete">Delete</a>
										</li>
									</ul>
                                </td>
                                <td>
                                    {{file.file_name}}
                                </td>
                                <td>
                                    {{file.annotated_Name}}
                                </td>
                                 <td>
                                    {{file.file_Type}}
                                </td> 
                                <td>
                                    {{file.file_size}}
                                </td>
 								<td>
                                    {{file.local_path}}
                                </td>
                                 <td>
                                    {{file.keyword}}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

