{% extends 'DAGR/base.html' %}

{% block content %}






<!--main part-->

<!--title-->
<div class="container">
    <div class="page-header">
  <h1>MMDA Search<small></small></h1>
</div>


<!--search panel-->
<div class="panel panel-default">
<div class="panel-heading"><p>please select one select type then enter the value</p>
  <div class="panel-body">
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button name="dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
           <li value="keyword"> <b>Keyword</b></li>
          <li value="name"><b>Name</b></li>
          <li value="date"><b>Date</b></li>
          <li value="size"><b>Size</b></li>
          <li value="type"><b>Type</b></li>
        </ul>
      </div><!-- /btn-group -->  
        <input type="text" class="form-control" name="query">
               </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->


          <p style="text-align: right; margin-top: 20px;">
            <button type="submit" class="btn btn-primary" id="search">Search</button>
            <button type="submit" class="btn btn-primary" id="cancel">Cancel</button>
          </p>
      </div>
    </div>
</div>



<!--result table from  search button-->
 
<div class="panel panel-success" id="panel3">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>These are the files that you are looking for:</b></div>
      <div class="panel-body">
        <ul>
         { % if result %}
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th>File Name</th>
                <th>Operation</th>

              </tr>
            </thead>
            <tbody>
            {% for file in result %}
              <tr>
                <th scope="row"><a href=" {% url 'MMDA:details' File.GUID %} ">{{ file.file_name }}</a>
                </th>
                <td>

                    <button  type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                              Are you sure?
                              </div>
                              <div class="modal-footer">
                                  <button name="delete" type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                                  <button name = "cancel" type="button" data-dismiss="modal" class="btn">Cancel</button>
                              </div>
                          </div>
                        </div>
                </div>
                 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModa">Update</button>

                    <div id="myModa" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                  <div class="row">
                                    <div class="panel panel-default">
                                      <div class="panel-body">                 
                                        <lable><b>Please select file that you want to replace the original file in database</b></lable>
                                        <br>
                                        <br>
                                        <form method="post" enctype="multipart/form-data">
                                          <input type="file" id="files" name="files" multiple="multiple" />
                                        </form>
                                        <div class="form-group">
                                        <br>
                                          <label for="usr">Or</label>
                                          <br>
                                          <label for="usr"> input the website</label>
                                          <input type="text" class="form-control" id="usr">
                                        </div>
                                      </div>
                                    </div>        
                                  </div>  
                                </div>
                            </div>
                             <div class="modal-footer">
                              <button name="add" type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Submit</button>
                              <button name="cancel" type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </td>

              </tr>
               {% endfor %}
            </tbody>

          </table>

         {% endif %}    
        </ul>

      </div>
    </div>
  </div>








<script type="text/javascript">

$('#search').click(function()
{   
    $("#panel3").toggle();     
});

</script>

{% endblock %}