{% extends 'DAGR/base.html' %}

{% block content %}



<!--##########################################main part###########################################################-->
<!--title-->
<div class="container">
    <div class="page-header">
  <h1> Reach Report<small></small></h1>
</div>


<!--panel for search-->
<div class="panel panel-default">
<div class="panel-heading"><p>Please input the DAGR that you want to find report</p>
  <div class="panel-body">


        <input type="text" class="form-control" aria-label="...">

    <p style="text-align: right; margin-top: 20px;">
      <button type="submit" class="btn btn-primary" id="search">Search</button>
      <button type="submit" class="btn btn-primary" id="cancel">Cancel</button>
    </p>
  </div>
</div>
  </div>




  <!--panel for table result-->
			
<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>These are the files that you are looking for:</b></div>
					<table class="table table-striped">
					  <thead class="thead-default">
					    <tr>
					      <th>File Name</th>
					      <th>File GUID</th>
					      <th>File Type</th>
					      <th>Parent DAGR</th>
					      <th>children DAGR</th>
					      <th>Operation</th>
					    </tr>
					  </thead>
					  <tbody>
					  {% for file in all_files %}
					    <tr>
					      <th scope="row"><a href=" {% url 'MMDA:details' File.GUID %} ">{{ File.file_name }}</a>
					      </th>
					      <td>file.GUID</td>
					      <td>file.Type</td>
					      <td>file.parent</td>
					      <td>file.children</td>
					      <td>

		              	<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>
		              	<div id="myModal" class="modal fade" role="dialog">
			                	<div class="modal-dialog">
			                  		<div class="modal-content">
				                    	<div class="modal-body">
				                      Are you sure?
				                    	</div>
				                    	<div class="modal-footer">
				                      		<button name="delete" type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
				                      		<button name = "cancel" type="button" data-dismiss="modal" class="btn">Cancel</button>
				                    	</div>
				                	</div>
				                </div>
				        </div>
				        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModa">Update</button>

                    <div id="myModa" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                  <div class="row">
                                    <div class="panel panel-default">
                                      <div class="panel-body">                 
                                        <lable><b>Please select file that you want to replace the original file in database</b></lable>
                                        <br>
                                        <br>
                                        <form method="post" enctype="multipart/form-data">
                                          <input type="file" id="files" name="files" multiple="multiple" />
                                        </form>
                                        <div class="form-group">
                                        <br>
                                          <label for="usr">Or</label>
                                          <br>
                                          <label for="usr"> input the website</label>
                                          <input type="text" class="form-control" id="usr">
                                        </div>
                                      </div>
                                    </div>        
                                  </div>  
                                </div>
                            </div>
                             <div class="modal-footer">
                               <button name="add" type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Submit</button>
                              <button name="cancel" type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
		             	</td>
					    </tr>
					   {% endfor %}
            </tbody>

          </table>

         {% endif %}   
          </div>
				</div>
			</div>

      	</div>
    </div>

    

<script type="text/javascript">

$('#Search').click(function()
{   
    $("#panel4").toggle();     
});

</script>
{% endblock %}


