{% extends 'DAGR/base.html' %}

{% block content %}



  	<div class="container">
  		<h3>Please input the DAGR that you want to get reach report from</h3>
  		<form >
			<div class="form-group">
				<input type="text" class="form-control" name="q" value="" placeholder="Search the result ">
			</div>
			    <!--this line can be eliminated-->
			    <p style="text-align: right; margin-top: 20px;">
					<button type="submit" class="btn btn-primary" id="Search">Search</button>
			       	<button type="submit" class="btn btn-primary" id="cancel">Cancel</button>
			    </p>
		</form>
	</div>

	<div class="container">
			
		<div class="panel panel-default" id="panel4">
            <div class="panel-body">
             	<label><b>Here are files you are looking for</b></label>
             	<br>	
					
					<table class="table">
					  <thead class="thead-default">
					    <tr>
					      <th>File Name</th>
					      <th>File GUID</th>
					      <th>File Type</th>
					      <th>Parent DAGR</th>
					      <th>children DAGR</th>
					      <th>Operation</th>
					    </tr>
					  </thead>
					  <tbody>
					  {% for file in all_files %}
					    <tr>
					      <th scope="row"><a href=" {% url 'MMDA:details' File.GUID %} ">{{ File.file_name }}</a>
					      </th>
					      <td>file.GUID</td>
					      <td>file.Type</td>
					      <td>file.parent</td>
					      <td>file.children</td>
					      <td>

		              	<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>
		              	<div id="myModal" class="modal fade" role="dialog">
			                	<div class="modal-dialog">
			                  		<div class="modal-content">
				                    	<div class="modal-body">
				                      Are you sure?
				                    	</div>
				                    	<div class="modal-footer">
				                      		<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
				                      		<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				                    	</div>
				                	</div>
				                </div>
				        </div>
				        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModa">Update</button>

                    <div id="myModa" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                  <div class="row">
                                    <div class="panel panel-default">
                                      <div class="panel-body">                 
                                        <lable><b>Please select file that you want to replace the original file in database</b></lable>
                                        <br>
                                        <br>
                                        <form method="post" enctype="multipart/form-data">
                                          <input type="file" id="files" name="files" multiple="multiple" />
                                        </form>
                                        <div class="form-group">
                                        <br>
                                          <label for="usr">Or</label>
                                          <br>
                                          <label for="usr"> input the website</label>
                                          <input type="text" class="form-control" id="usr">
                                        </div>
                                      </div>
                                    </div>        
                                  </div>  
                                </div>
                            </div>
                             <div class="modal-footer">
                              <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Submit</button>
                              <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
		             	</td>
					    </tr>
					  </tbody>
					  {% endfor %}
					</table>
				</div>
			</div>

      	</div>
    </div>

    

<script type="text/javascript">

$('#Search').click(function()
{   
    $("#panel4").toggle();     
});

</script>
{% endblock %}


