{% extends 'MMDA/base.html'%}
{% block title %}Reach Report{% endblock %}


{% block body %}
<div class="container-fluid">
	<div class=""col-md-8">
		<h3>Search for the one you want to generate Reach Report</h3>
		<form >
		<div class="form-group">
		    <input type="text" class="form-control" name="q" value="" placeholder="Enter ">
		</div>   
		<button type="submit" class="btn btn-default" id="search">Search</button>

    </div>
</div>

{% endblock %}


<script type="text/javascript">
	







</script>